 /* grid layout */
.grid-container {
  display: grid;
  /* min-height: 100vh; */
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  gap: 15px;
  grid-template-rows: 7vh 2fr 1fr;
  grid-template-columns:2fr 1fr 1fr;
  margin: 10px;
}
/* header styles */
header {
  grid-area: header;
}

/* navBar styling  */
.container-fluid {
  background-color: #e3f2fd;
  position: fixed;
  padding-right:2vw;
  margin-top: 2vh;
  /* height: 8vh; */
  z-index: 1;
}
.navbar-brand{
  font-weight:900;
}





/* main area  */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 10px;
}
/* .box {
  border: 3px solid black;
} */
* {
  border-radius: 5px;
}

/* background imgs  */
.card-1{
        background-image: url(./assets/eb92eb90-52e8-11f0-83c4-6fc6e37ac2c6.jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    
      .card-2{
        background-image: url(./assets/e40d1760-52ca-11f0-97dc-9d5dd4fd1766.jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .card-3{
        background-image: url(./assets/e40d1760-52ca-11f0-97dc-9d5dd4fd1766.jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .card-4{
        background-image: url(./assets/eb92eb90-52e8-11f0-83c4-6fc6e37ac2c6.jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .box{
        color: chartreuse;
      }



/* aside area  */
aside {
  grid-area: aside;
  border: 2px solid red;
}
.aside-section{
  /* display:flex; */
  /* flex-direction: row; */
  margin: 3vh 2vh;
}

.trend{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}



 /* footer are  */
.foot-box {
  border: 2px solid red;
}


footer {
  grid-area: footer;
  /* border: 2px solid chocolate; */
  grid-template-columns: 20vw 20vw 20vw 20vw;
  display: grid;
  gap: 5vw;
  margin: auto;
  height: 20vh;
}

